{% extends "base.html" %}

{% block page_content %}
    <div class="container mt-4"> {# Using Bootstrap container and margin #}
        <div class="row">
            <div class="col-md-8 offset-md-2"> {# Centering content #}
                <h2 class="mb-3">Contact Us</h2>
                <p class="lead">
                    Have questions, feedback, or just want to say hello? We'd love to hear from you.
                </p>
                <p>
                    You can reach out to us through the following channels:
                </p>
                <ul class="list-unstyled"> {/* Bootstrap class for unstyled list */}
                    <li class="mb-2"><strong>Email:</strong> <a href="mailto:support@taskgamify.com">support@taskgamify.com</a></li>
                    <li class="mb-2"><strong>Email:</strong> <a href="mailto:srikar0911@xyz.com">srikar0911@xyz.com</a></li>
                    <li class="mb-2"><strong>Project Repository:</strong> <a href="https://github.com/your-repo/task_gamification_app" target="_blank">GitHub Project</a></li>
                    <li class="mb-2"><strong>Twitter:</strong> <a href="https://twitter.com/taskgamify" target="_blank">@TaskGamify</a> (if applicable)</li>
                </ul>
                <p class="mt-4">
                    We'll do our best to get back to you as soon as possible.
                </p>
            </div>
        </div>
    </div>
{% endblock %}