{% extends "base.html" %}
{% import "bootstrap/form.html" as bform %}

{% block page_content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Update Task</h2>
            {# The form action URL includes the task_id #}
            {{ bform.render_form(form, action=url_for('update_task', task_id=task_id), button_map={'submit': 'primary'}) }}
            <a href="{{ url_for('my_tasks') }}" class="btn btn-secondary mt-3">Cancel</a>
        </div>
    </div>
{% endblock %}